#pic1{
    position:absolute; left:100px; top: 400px; opacity: 0.9;
}
#pic1-heading{
    color: #FFFFFF;
    background-color: transparent;
    position: absolute;
    top: 360px;
    margin-left: 40px;
    font-size: 22px;
    width: max-content;
    text-align: center; 
    font-family:Arial,Helvetica,sans-serif;
}

#pic1-para{
    color: #FFFFFF;
    background-color: transparent;
    position: absolute;
    top: 390px;
    margin-left: 40px;
    font-size: 15px;
    font-family:Arial,Helvetica,sans-serif;
    width: auto;
    word-wrap: break-word;
}
#pic2{
    position:absolute; left:900px; top:400px; opacity: 0.9;
}
#pic2-heading{
    color: #FFFFFF;
    background-color: transparent;
    position: absolute;
    top: 360px;
    margin-left: 50px;
    font-size: 22px;
    width: max-content;
    text-align: center; 
    font-family:Arial,Helvetica,sans-serif;
}
#pic2-para{
    color: #FFFFFF;
    background-color: transparent;
    position: absolute;
    top: 390px;
    margin-left: 50px;
    font-size: 15px;
    font-family:Arial,Helvetica,sans-serif;
    width: auto;
    word-wrap: break-word;
}
#our-story{
    text-align: center;
    color: lightgray;
    font: 40px raleway, sans-serif;
}
#our-story-para{
    color: white;
    text-align: center;
    line-height: 1.875em;
    font-size: 15px;
    font-family: Arial,Helvetica,sans-serif;
    
}
#footer{
    color: white;
    text-align: center;
    line-height: 1.875em;
    font-size: 15px;
    font-family: Arial,Helvetica,sans-serif;
    position: relative;
    width: 100%;
    position: relative;
    bottom: -550px;
}
#logo_link{
    font-size: 25px; position:absolute; top: 20px; left: 80px; color: white; text-decoration: none;
    }
    a{
    color: white;
    text-decoration: none;
    padding: 10px;
    }
#header{
    background-color: black; color: white;
}


