body{
        background-color: rgb(25, 24, 29);
    }
div{
    background-color: black; color: white;
}
#logo_link{
    font-size: 25px; position:absolute; top: 20px; left: 80px; color: white; text-decoration: none;
}
a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
#sidelabel{
    text-align: center; width: 700px; height: 700px; position:absolute; top: 200px; right: 70px; font-size: 80px; padding-top: 7cm;
}
#latest_products{
    background-color:rgb(235, 252, 251);
    color: black;
    text-align: center;
    position: relative;
    top: 800px;
    font-size: 35px;
    height: 450px;
    padding-top: 40px;

}
#sidephoto{
    position: absolute; top: 200px; 
    height: 900px;
}
#opening_hours{
    position: absolute;
    top: 1350px;
}
#opening_timing{
    color: hsl(0,2%,95%);
    background-color: transparent;
    position: absolute;
    top: 50px;
    margin-left: 550px;
    font-size: 30px;
    width: max-content;
    text-align: center;   
}
#contact{
    background-color: black;
    position: absolute; 
    top: 1850px;
    width: 490px;
    height: 515px;
    text-align: center;
    font-size: 20px;
    padding-left: 90px;
}
